.button {
    border-radius: 100vmax;
    display: flex;
    padding: .5rem;
    justify-content: center;
    cursor: pointer;
    color: #fff;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &__image {
        width: 40%;
    }
    &__details {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        box-sizing: border-box;
        width: 58%;
        background-color: var(--background-color-2);
    }
    &__name {
        font-size: 3rem;
        line-height: normal;
        color: var(--primary-color);

    }
    &__user {
        user-select: none;
        cursor: pointer;
        margin-top: -.3rem;
        display: flex;
        align-items: center;
        gap: .5rem;
    }
    &__user-image {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
    }
    &__user-username {
        font-size: 1rem;
        font-weight: 500;
        transform: translateY(-2px);
    }
    &__description {
        margin: 2rem 0 4rem;
    }
    &__like-button {
        display: flex;
        align-items: center;
        gap: .2rem;
        font-weight: bold;
        background-color: var(--red-color);
        width: 90%;
    }
    &__likes-count {
        font-size: 1.2rem;
        transform: translateY(-1px);
    }
    &__actions {
        display: flex;
        gap: .5rem;
    }

    &__save-button {
        width: 10%;
        background-color: var(--primary-color);
    }
    &__shop-button {
        width: 90%;
        background-color: var(--accent-color);
    }
}



.mat-elevation-z4 {
    border-radius: 20px;
}