:host {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: normal;
}