:host {
    position: relative;
}

.slider {
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    &__image {
        width: 100%;
    }
}

.selectors {
    display: flex;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    gap: .5rem;
    z-index: 10;
}

.selector {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    transition: .2s cubic-bezier(0, 0, 0.2, 1);
    &:hover {
        transform: scale(1.2);
        filter: brightness(.5);   
    }
}

.selected {
    background-color: var(--primary-color);
}