<div class="user" *ngIf="user$ | async as user" (click) = "$event.stopPropagation()">
    <img class="user__image" [src]="user.imageUrl">
    <h2 class="user__username">{{ user.username }}</h2>
    <div class="user__actions">
        <button mat-icon-button routerLink="my-products" matTooltip="my products"><mat-icon>person_filled</mat-icon></button>
        <button mat-icon-button routerLink="saved" matTooltip="saved"><mat-icon>star</mat-icon></button>
        <button mat-icon-button (click)="onAddProduct()" matTooltip="add product"><mat-icon>add</mat-icon></button>
    </div>
</div>