<div class="product" *ngIf="user$ | async as user">
    <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="product.name">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="product.description"></textarea>
    </mat-form-field>
    <div class="product__actions">
        <input (input)="onAddFile($event)" type="file" style="display: none;" #fileInput>
        <button color="accent" mat-raised-button (click)="fileInput.click()">Upload File*</button>
        <button [disabled]="!product.imageId" (click)="onAddProduct(user.token)" color="primary" mat-dialog-close mat-raised-button>Add</button>
    </div>
</div>